*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #c8edfd;  
    background-image: url('https://troov.com/images/back-to-school/bg_spring-homepage.png');       
  
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

.header{
   width: 100%;
   height: 70px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
}


.logo{
   width: 115px;
   height: 50px;
   background: black;
   margin-left: 193px; 
}
.menu{
   width: 500px;
   height: 50px;
   background: #8b3333;
   right: 100px;
   position: absolute;
   
   
}
.menu ul{
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;

   
}
.menu ul li{
   margin: 0 10px;
   color: white;
   font-weight: bold;
   cursor: pointer;
   padding: 10px 20px;
}
.menu ul li a{
   text-decoration: none;
   color: white;
  
}
/*---- 바디 영역 ----*/
.wrap{
    margin: 150px auto;
    
}
#container{
   
}
.mainBox{
   width: 100%;
   height: 500px;
   background:  #c8edfd;
}
.mainBox2{
   width: 100%;
   height: 1000px;
   background: #bbb;
}
.mainWrap{
   width: 100%;
   height: 100%;
   background: #c8edfd;
   margin: 0 auto;
}
.content{
   width: 80%;
   height: 100%;
   
   margin: 0 auto;
   display: flex;
   background: #c8edfd;
}
.main1{
   width: 110%;
   height: 100%;
   
  
}
.main2{
   width: 90%;
   height: 100%;
   
 
}
.main2 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.main1_1{
   
   width: 100%;
   margin-top: 50px;
   height: 170px;
   color: #bbb;
}
.main1_2{
  
   width: 100%;
   
   height: 100px;
    color: #bbb;
}
.main1_3{
   
   width: 100%;
   margin-top: 10px;
   height: 70px;
    color: #bbb;
   display: flex;
   justify-content: center;
   
}
.mainButton1{
   width: 40%;
   height: 50px;
   margin: 10px;
   background: rgb(85, 85, 85);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.mainButton2{
   width: 40%;
   height: 50px;
   margin: 10px;
   background: rgb(85, 85, 85);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.mainBox2_1{
   margin-top: 60px;
   height: 80px;
   
   margin:  0 auto;
   margin-top:  50px;
   display: flex;
   justify-content: center;
   
}
.mainBox2_2{
 height: 380px;

}
.mainBox2_3{
 height: 200px;
 
 width: 1100px;
 margin: 0 auto;
 padding: 20px;
 display: flex;
 align-items: center;
 
}
.icon{
   width: 128px;
   height: 128px;
   background: #333;
   padding: 24px;
}
.icon img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   background: black;
}
.bottomTextBox{
  width: calc(100% - 128px - 48px);
   height:128px;
   background: #bbb;
}
.bottomText1{
   margin-top: 24px;
   height: 32px;
   margin-left: 24px;
   font-weight: bold;
    font-size: 25px;
}

.bottomText2{
   height: 47px;
   margin-top: 12px;
   margin-left: 24px;
 
}































/* 메인 박스 */
.wrap {
    width: 600px;
    background: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.wrap h2{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

hr{
    margin: 15px 0;
    border: none;
    border-top: 2px solid #b4b4b4;
}
.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.input-field input ,
.input-field select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1.5px solid #b4b4b4;
    font-size: 14px;
    background: #fff;
    transition: 0.3s;
}

button {
    width: 100%;
    padding: 14px;
    background: #4374D9;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #315ec7;
}
.notice {
    margin-top: 15px;
    font-size: 12px;
    color: #666;
    line-height: 1.6;
    text-align: center;
}