
*{ padding: 0; margin: 0;}

#box1{
    width: 100px;
    height: 100px;
    background: gold;
    left: 50px;

}
#box2{
    width:150px;
    height:150px;
    background: coral;
    position: relative;
    right: 100px;
    top : 50px;
}
#box2:hover{ /*마우스 커서가 해당위에 올라오면 동작해라    */
    right:0px;
    transition: all 1s;
    


}
#box3parent{
    position: relative;
}
#box3{
    width: 120px;
    height: 120px;
    background: rgb(255, 216, 254);
    position: absolute;
    right: 100px;
    top : 50px;
}
#wrap{
    width: 1000px;
    height: 1000px;
}
#box4{
    position: fixed;
    left: 50px;
    bottom: 50px;
    background-color: rgb(152, 253, 152);
    
}
#box5{
    position: sticky;
    top: 0px;
    
}





