
#box1{
    width: 300px;
    height: 200px;
    background-color: rgb(144, 144, 144);
    position: relative;
}
#box2{
    width: 88px;
    height: 50px;
    background-color: rgb(252, 186, 208);
    position : absolute;
    right: 0px;
    bottom: 0px;
}