*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}
.header{
    width: 1200px;
    position: fixed;
    height: 80px;
    background: rgb(10, 20, 40);
    box-sizing: border-box;
    
}
.square{

   width: 1200px;
    padding: 20px;
    background: rgb(10, 20, 40);
    position: relative;
    
    z-index: 1;
    margin: 0px;
}
header>ul>li {
 
  height: 80px;
  width: 180px;
  list-style: none;
  display: flex;
  align-items: center;    /* 세로 가운데 */
  justify-content: center; /* 가로 가운데 */
  
   
}
nav>ul>li a{
    color:white;
    width: 250px;
    display: block;
    background: rgb(10, 20, 40);
    padding: 10px 80px;
    text-decoration: none;

}
header ul {
     display: flex;
     justify-content: space-between; /* 양 끝에 배치 + 균등 간격 */
  align-items: center;           /* 세로 가운데 정렬 */
  list-style: none;
  padding: 0px;

 
}

#body{
    background: rgb(10, 20, 40);
}

#wrap{
    width: 1200px;
    position: relative;
    margin: auto;
}
#logo{
    width: 40px;  
    height: 50px;  
    object-fit: cover; 
}

.blank{
    width: 1200px;
    height: 135px;
    background: white;
}
.footer{
    width: 1200px;
    background: rgb(17, 17, 17);
    height: 400px;
    box-sizing: border-box;
}
#footer_team{
    width: 1200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}
.footer_blank{
    width: 1200px;
    background: rgb(17, 17, 17);
    height: 150px;
}

/* ========================업데이트 부분========================= */

/*메인 1 게임 업데이트 대 제목 */
.Main1{
   width: 1200px;
  margin: 0 auto;
  padding-top: 83px;
}
.updates1{
  width: 1200px;            
  margin: 0  auto;          /* 가운데 정렬 */
  background: #17376f;     
  padding: 80px 120px;     /* 안쪽 여백 */
  color: white;
}

/*업데이트 내용 전체 */
#up{
  width: 1200px;
  margin: 0 auto;
    background: #466cad;
}

/*각 메인 1, 2, 3*/
.main123{
  width: 1200px;
  margin-top: 0;
}

/*패치 노트 3줄 가운데 정렬*/
.path{ 
  text-align: center;
}

/*패치 노트 대표 이미지 하늘색 카드*/
.card{
  width: 560px;
  display: inline-block; /* 옆으로 배치 */
  margin: 18px;      /* 업데이트 내역 중간 간격 */
  margin-bottom: 18px;
  background: rgb(170, 207, 242);
  border-radius: 12px;   /*업데이트 내역 모서리*/
  padding: 20px;
  vertical-align: top; /*카드 높이가 달라도 위쪽 기준 맞추기 도움받음*/
}

/* 패치노트 대표 이미지 */
.updateimg{
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 3px;  /*이미지 아래 글자랑 사이부분 간격*/
}
/*패치 날짜 폰트*/
#span{
    font-size: 14px;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0;
}
/*패치 버전 폰트 위치 */
.h2{
    position: relative;
    color: rgb(164, 162, 13);
}