*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/**/
ul{
    list-style-type: none;
}
/*a태그의 밑줄 부분 뺴기*/
a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}
input{
    outline: none;
    padding: 4px 10px;
    font-size: 20px;
}

/*==============여기까지 전체 작업================= */

#wrap{
    width: 1200px;
    margin: auto;
    position: relative; 
}
#header{
    width: 100%;
    padding: 20px ;   
}
#nav{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
}
#nav .menu{
   
    display: flex;
    justify-content: space-between;    
}
#nav .menu .menuItem{
    background: #fff;
    clor: #000;
    border-radius: 9px;
    transition: all 0.2s;
}
#nav .menu .menuItem:hover{
    background: #999;
    color: #eee;
}
#nav .menu .menuItem a{
    padding: 7px 15px;
}
/*===========로그인 영역 style=============*/
#loginWrap{
    width: 100%;
    position: relative;
}
#loginWrap .loginBox{
    padding: 20px;
    text-align: right;

}
#loginBt{
    width: 260px;
    padding: 20px 0;
    font-size: 20px;
    border: 0;
    border-radius: 7px;
    background: #1274b1;
    color: #eee;
    font-weight: 700;
}
#main{
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
}

/*===============footer 영역==================*/
#footer{
    width: 100%;
    position: relative;
    padding: 50px 100px;
}
#footer .foot{
    padding: 20px;
    
}
#footer .foot .footText{
    width: 100%;
    position: relative;
}
#footer .foot .footText p{
    margin-bottom: 20px;
}

/*footer 로고 이미지 영역*/
img{   width: 100%; }
#footer .foot .footText .logoImg{
    position: absolute;
    width: 100px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}