* {
  margin: 0;              
  padding: 0;             
  box-sizing: border-box; 
}
/* body 부분이고 헤더부분이 들어오면 빠질거 배경도 통일할부분 */
body{
  padding: 20px; 
  background: #c8edfd;  
  background-image: url('https://troov.com/images/back-to-school/bg_spring-homepage.png');       
  
  
}
.header{
   width: 100%;
   height: 70px;
  background: c8edfd;
  display: flex;
  align-items: center;
  position: relative;
}

.logo{
   width: 115px;
   height: 50px;
   
   margin-left: 193px; 
   background-image: url('/로고3-3.png');
   background-size: cover; /* 이미지가 화면에 가득 차게 설정 */
   background-repeat: no-repeat;
}
.menu{
   width: 500px;
   height: 50px;
   background: #60a7c5;
   right: 100px;
   position: absolute;
   border-radius: 8px;  
}



.menu ul{
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;

   
}
.menu ul li{
   margin: 0 10px;
   color: white;
   font-weight: bold;
   cursor: pointer;
   padding: 10px 20px;
}
.menu ul li a{
   text-decoration: none;
   color: white;
  
}
/*---- 바디 영역 ----*/
.mainBox{
   width: 100%;
   height: 500px;
   background:  #c8edfd;
}
.mainBox2{
   width: 100%;
   height: 1000px;
   background: #bbb;
}
.mainWrap{
   width: 100%;
   height: 100%;
   background: #c8edfd;
   margin: 0 auto;
}
.content{
   width: 80%;
   height: 100%;
   
   margin: 0 auto;
   display: flex;
   background: #c8edfd;
}
.main1{
   width: 110%;
   height: 100%;
   
  
}
.main2{
   width: 90%;
   height: 100%;
   
 
}
.main2 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.main1_1{
   
   width: 100%;
   margin-top: 50px;
   height: 170px;
   color: #bbb;
}
.main1_2{
  
   width: 100%;
   
   height: 100px;
    color: #bbb;
}
.main1_3{
   
   width: 100%;
   margin-top: 10px;
   height: 70px;
    color: #bbb;
   display: flex;
   justify-content: center;
   
}
.mainButton1{
   width: 40%;
   height: 50px;
   margin: 10px;
   background: rgb(85, 85, 85);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.mainButton2{
   width: 40%;
   height: 50px;
   margin: 10px;
   background: rgb(85, 85, 85);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.mainBox2_1{
   margin-top: 60px;
   height: 80px;
   
   margin:  0 auto;
   margin-top:  50px;
   display: flex;
   justify-content: center;
   
}
.mainBox2_2{
 height: 380px;

}
.mainBox2_3{
 height: 200px;
 
 width: 1100px;
 margin: 0 auto;
 padding: 20px;
 display: flex;
 align-items: center;
 
}
.icon{
   width: 128px;
   height: 128px;
   background: #333;
   padding: 24px;
}
.icon img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   background: black;
}
.bottomTextBox{
  width: calc(100% - 128px - 48px);
   height:128px;
   background: #bbb;
}
.bottomText1{
   margin-top: 24px;
   height: 32px;
   margin-left: 24px;
   font-weight: bold;
    font-size: 25px;
}

.bottomText2{
   height: 47px;
   margin-top: 12px;
   margin-left: 24px;
 
}


/*===============================여기까지 메뉴======================================*/

/* ====== 컨테이너 ====== */
.container {
  width: 1200px;          
  margin: 0 auto;         
}

/* 카드 전체를 감싸는 박스 */
#main{
  margin-top: 150px;
  background-color: #fff;                     
  border: 1px solid #ccc;                     
  padding: 30px;                                
  border-radius: 8px;                           
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
              0 4px 8px 0 rgba(0, 0, 0, 0.3); 
}

/* 제목 */
#title {
  margin-bottom: 20px;    
}
#title h1 {
  font-size: 24px;        
}


/*수령처리 , 처리 이력 조회 좌우 나누기*/
.cradbox {
  display: flex;          
  gap: 20px;              
}

/*  수령처리  */
.cardleft {
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 26px;          
  border-radius: 8px;     
  width: 40%;             
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
              0 6px 20px 0 rgba(0, 0, 0, 0.3); 
}


/* 처리이력조회 */
.cardright {
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 26px;          
  border-radius: 8px;     
  width: 60%;             
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/*수령처리이력조회 제목*/
.card h2{
  font-size: 16px;        
  margin-bottom: 12px;    
}

/* 수령처리 라벨 인풋간격*/
.form-group{
  margin-top: 10px;
  margin-bottom: 20px;    
}
/*이력조회 라벨 인풋간격*/
.form-group2{
  display: flex;
  justify-content: space-between; /* 좌우 끝으로 배치 */
  align-items: center;   
  margin-top: 10px;
  margin-bottom: 20px;    
}

/* 라벨 스타일 */
label{
  display: block;         
  font-size: 13px;        
  margin-bottom: 10px;     
}

/* 입력창 스타일 */
input{
  width: 100%;            
  padding: 8px;           
  border: 1px solid #616161; 
  border-radius: 5px;
}

/* 첫 번째 버튼 */
#bt1 {
  padding: 8px 14px;      
  border: none;           
  background: #3180ff; 
  color: white;                  
  margin-right: 6px;  
  border-radius: 5px; 
  border: 2px solid #424242;   
}
#bt1:hover {
  background-color: #0f48c2; 
  cursor: pointer;
}

/* 두 번째 버튼 */
#bt2 {
  padding: 8px 14px;
  border: none;
  background: #707070; 
  color: rgb(237, 237, 237);
  cursor: pointer;
  margin-right: 6px;
  border-radius: 5px;
  border: 2px solid #424242;
}
#bt2:hover {
  background-color: #454545; 
  cursor: pointer;
  color: rgb(255, 255, 255);
}


/* ====== 상태 표시 ====== */
.status1 {
  display:inline-block;
  background: rgb(204, 238, 202);
  margin-top: 12px;
  padding: 5px 10px;
  border: 1px solid #2e7d32;
  border-radius: 14px;
  font-size: 13px;
  font-weight: 700;
  color: #2e7d32;           
}

.status2 {
  display:block;
  width: fit-content;
  background: rgb(202, 219, 238);
  margin-top: 12px;
  padding: 5px 10px;
  border: 1px solid #1e40af;
  border-radius: 14px;
  font-size: 13px;
  font-weight: 700;
  color: #1e40af;    
}

.history-row{
  display: flex;
  gap: 20px;
}

/* 왼쪽 오른쪽 반반 */
.history-left,
.history-right{
  flex: 1;
}
/* select + 버튼 옆으로 */
.history-controls{
  display: flex;
  gap: 8px;
}
.history-controls select,
.history-controls button {
  padding: 5px;
  border-radius: 5px;
}


.find{
  background: #2e75e6; 
  color: white;    
}
/* 버튼 hover 효과 */
.find:hover {
  background-color: #0f48c2; 
  cursor: pointer;
}



/* ====== 테이블 ====== */
table{
  width: 100%;            
  border-collapse: collapse;
  margin-top: 10px;
}
th, td{
  border: 1px solid #ccc; 
  padding: 8px;           
  font-size: 13px;
  text-align: center;
  
}
th{
  background: #eee;     
}
/* 이미지 스타일 */
img{
  display: block;         /* 가운데 정렬 위해 block */
  width: 20px;            /* 크기 */
  margin: 0 auto;         /* 가운데 정렬 */
  cursor: pointer;        /* 클릭 가능 표시 */
}

/* 반환완료 */
.claimed{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  
  background: #d4f5d4;
  color: #2e7d32;
  border: 1px solid #2e7d32;
}

/* 보관중 */
.matched{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  
  background: #e0ecff;
  color: #1e40af;
  border: 1px solid #1e40af;
}

/* footer*/
