*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header{
    width: 1200px;
    position: fixed;
    height: 80px;
    background: rgb(10, 20, 40, 1);
    box-sizing: border-box;
    z-index: 9999;
    
}
.square{

   width: 1200px;
    padding: 20px;
    background: rgb(10, 20, 40, 1);
    position: relative;
    
    z-index: 1;
    margin: 0px;
}
.font1{
     width: 1200px;
      font-family: "Jua", sans-serif;
  font-weight: 200;
  font-style: normal;
}
header>ul>li {
 
  height: 80px;
  width: 180px;
  list-style: none;
  display: flex;
  align-items: center;    /* 세로 가운데 */
  justify-content: center; /* 가로 가운데 */
  
   
}
nav>ul>li a{
    color:white;
    width: 250px;
    background: rgb(10, 20, 40);
    padding: 10px 80px;
    text-decoration: none;
    justify-content: center;

}
header ul {
     display: flex;
     justify-content: space-between; /* 양 끝에 배치 + 균등 간격 */
  align-items: center;           /* 세로 가운데 정렬 */
  list-style: none;
  padding: 0px;

 
}

#body{
    background: rgb(10, 20, 40);
}

#wrap{
    width: 1200px;
    position: relative;
    margin: auto;
}
.logo{
    width: 40px;  
    height: 50px;  
    background: url("./검은바탕로고.jpg") no-repeat;
    background-size: contain;
}
.blank{
    width: 1200px;
    height: 135px;
    background: white;
}
.footer{
    width: 1200px;
    background: rgb(10, 20, 40);
    height: 200px;
    box-sizing: border-box;
}
#footer_team{
    width: 1200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}
.footer_blank{
    width: 1200px;
    background: rgb(10, 20, 40);
    height: 150px;
}

/* ========================업데이트 부분========================= */


/*업데이트 내용 전체 */
#up{
  width: 1200px;
  display: flex;
  gap :20px;
  flex-wrap:wrap ;
  justify-content: space-evenly;
  
  margin: 0 auto;
  background: #466cad;
  padding-top: 20px;
  padding-bottom: 20px;
}


/*메인 1 게임 업데이트 대 제목 */

.Main1{
   width: 100%;
   margin: 0 auto;
   padding-top: 80px;
}

/* 대 제목 아래 글 */
.updates1{
  width: 1200px;            
  margin: 0  auto;          
  background: #102c5c;     
  padding: 80px 120px;     
  color: white;
  font-style: italic;
}

/*패치 노트 대표 이미지 하늘색 카드*/
.card{
  width: 540px;
  background: rgb(170, 207, 242);
  border-radius: 12px;   
  padding: 20px;

  overflow: hidden;
  
 /* 마우스 올리면 변경되는거 */
   cursor: pointer;
  transition: all 0.2s ease;
}

/* 살짝 떠오르기 하는거 */
.card:hover {
  transform: translateY(-6px);   
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

/* 패치노트 패치대표 이미지 */
.updateimg{
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 5px;  
}
/*패치 노트 3줄 가운데 정렬*/
.path{ 
  text-align: center;
  color: rgb(0, 0, 0);
}

/*패치 버전 및 날짜 부모 태그*/
.ver{
  position: relative;
  width: 520px;
}

/*패치 날짜 폰트*/
.span{
    font-size: 14px;
    font-weight: bold; /*글자 굵기*/
    color: rgb(0, 0, 0);
    
    position: absolute;
    right: 25px;
    top: 5px;
}

/*패치 버전 글자색 */
.h2{
  color: rgb(164, 162, 13);
  
}
/* .a{
  text-decoration: none ;
} */