*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}
.header{
    width: 1200px;
    position: fixed;
    height: 80px;
    background: rgb(17, 17, 17);
    box-sizing: border-box;
    
}
.square{

   width: 1200px;
    padding: 20px;
    background: rgb(17, 17, 17);
    position: relative;
    
    z-index: 1;
    margin: 0px;
}
header>ul>li {
 
  height: 80px;
  width: 180px;
  list-style: none;
  display: flex;
  align-items: center;    /* 세로 가운데 */
  justify-content: center; /* 가로 가운데 */
  
   
}
nav>ul>li a{
    color:white;
    width: 200px;
    display: block;
    background: rgb(17, 17, 17);
    padding: 10px 80px;

}
header ul {
     display: flex;
     justify-content: space-between; /* 양 끝에 배치 + 균등 간격 */
  align-items: center;           /* 세로 가운데 정렬 */
  list-style: none;
  padding: 0px;

 
}
.body{
    width: 1200px;
    height: 2815px;
}
#logo{
    width: 40px;  
    height: 50px;  
    object-fit: cover; 
}
.main1{
    width: 1200px;
    background: rgb(228, 85, 133);
    height: 802px;
}
.blank{
    width: 1200px;
    height: 135px;
    background: white;
}
.footer{
    width: 1200px;
    background: rgb(17, 17, 17);
    height: 400px;
    box-sizing: border-box;
}
#footer_team{
    width: 1200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}
.footer_blank{
    width: 1200px;
    background: rgb(17, 17, 17);
    height: 150px;
}